.hoem__slide {
    position: relative;
}

.home__img {
    height: 383px;
    position: relative;
}

.home__info {
    width: 80%;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 250px;
    color: white;
}

.home__hr {
    width: 70%;
    background: white;
    margin: auto;
    margin-bottom: 8px;
}
