
$gray-opacity: rgba(212, 211, 211, 0.322);


.footer__top {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    border-top: 1px solid $gray-opacity;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    margin-bottom: 20px;
}

.footer__hr {
    width: 90%;
    background: $gray-opacity;
    margin: auto;
    margin-bottom: 8px;
}
