.buttonlk {
    color: white !important;
    background: rgb(243, 204, 74);
    text-decoration: none !important;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    padding: 5px 30px;
    transition: opacity 0.5s ease;
    &:hover {
        opacity: 0.8;
        color: aliceblue;
    }
}

.buttonlk--slide {
    position: absolute;
    top: 85%;
    left: 85%;
}
